body{
    background: #7bc6ee;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#a9cfe4, #9dd4df);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#80b8c5,#c7d5dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}